*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --width-lg: 100%;
  --width-md: 80%;
  --width-sm: 70%;


  /*Theme Colors*/
  --primary-color: #05ba8f;
  --secondary-color: #000000;
  --primary-variant: #035f48;
  --accent: #69fd7c;
  --white: #ffffff;
}

.container{
  width: var(--width-lg);
  margin-inline: auto;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 5;
}



.primary-variant {
  color: var(--primary-variant);
}

/*NAV Styles*/

.nav__container {
  width: var(--width-md);
  margin-inline: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  z-index: 1;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: var(--primary-variant);
}

.active-nav {
  color: var(--primary-color);
  font-weight: 600;
}


.nav__logo h5{
  font-size: 1.5rem;
  text-transform: uppercase;
}

.nav__logo span {
  color: var(--primary-color);
}

.nav__toggle-button {
  outline: 0;
  color: var(--white);
  border: 0;
  font-size: 2rem;
  background-color: var(--primary-variant);
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  display: none;
}



/*Media Queries for Nav on medium  to small screens*/

@media screen and (max-width: 1024px) {
  .nav__links {
    flex-direction: column;
    position: absolute;
    top: 3.9rem;
    right: 0;
    gap: 0;
  }

  .nav__links li {
    padding: 1rem;
    background-color: var(--white);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
  }

  .nav__links li a {
    padding: 1rem;
  }

  .hide__nav {
    display: none;
  }

  .nav__toggle-button {
    display: flex;
    font-size: 1.5rem;
    padding: 0.2rem 0.5rem;
  }


}


@media screen and (max-width: 600px) {
  .nav__logo h5{
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}



/* Titles and subtitle style*/

.section__title {
  margin-inline: auto;
  text-align: center;
  text-transform: uppercase;
}

.section__title h2 {
  font-weight: 900;
  font-size: 3rem;
}

.section__subtitle {
  max-width: 51%;
  text-align: center;
  margin-inline: auto;
  font-size: 1.2rem;
  font-weight: 500;
}



@media screen and (max-width: 600px) {
  .section__title h2 {
      font-weight: 900;
      font-size: 1.5rem;
  }

  .section__subtitle {
      max-width: 95%;
      text-align: center;
      margin-inline: auto;
      font-size: 1.2rem;
      font-weight: 500;
  }
}